.SingleCard {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 15px 7px 25px rgba(23, 32, 56, 0.12);
  padding: 15px;
}

.card-top,
.card-middle,
.card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-top > p {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.card-middle-rating-div {
  display: flex;
}
.card-middle-rating-div > i {
  font-size: 28px;
  margin-right: 10px;
  color: #ffd84f;
}
.card-middle-rating-div > h5 {
  font-size: 26px;
}
.card-middle-rating-div > h5 > span {
  font-size: 15px;
}

.card-middle-img-div img {
  width: 180px;
}
.card-bottom {
  display: flex;
}


.card-bottom > h3 {
  font-size: 30px;
  font-weight: 600;
  color: #ff5c00;
}
.card-bottom-btn {
  border: none;
  background-color: transparent;
}
.card-bottom-btn > i {
  font-size: 30px;
  color: #2461ff;

}
