.productDetails-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.productDetails-main-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  margin-bottom: -180px;
}
.productDetails-main-img-div img {
  width: 350px;
  z-index: 1;
}
.productDetails-main-contents-div {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  align-items: center;
  background: #ffffff;
  box-shadow: -1px 1px 20px rgba(22, 52, 111, 0.15);
  border-radius: 40px 40px 0px 0px;
  padding: 40px;
}

.productDetails-main-contents-span-div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.productDetails-main-contents-span-div span {
  font-family: "Baloo Da 2", cursive;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.productDetails-main-contents-title {
  font-family: "Baloo Da 2", cursive;
  font-weight: 600;
  font-size: 30px;
}
.productDetails-main-contents-desc {
  font-family: "Baloo Da 2";
  font-weight: 400;
  font-size: 18px;
  color: #7c90b8;
}
.product-quantity-btns-div {
  background: #e7eaf0;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
  padding: 16px 25px;
}
.input-group-text {
  border: none;
}
.input-group-text > .product-quantity-minus {
  color: #df0000;
}
.input-group-text > .product-quantity-plus {
  color: #3bb77b;
}
.addToCart-btn {
  background: #ff5c00;
  border-radius: 10px;
  font-size: 22px;
  border: none;
  color: #fff;
  padding: 15px 30px;
  background: #ff5c00;
  font-family: "Baloo Da 2";
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .productDetails-main-contents-div {
    padding: 30px;
  }
  .productDetails-main {
    flex-direction: column;
  }
  .productDetails-main-img-div {
    margin-right: 0;
    margin-top: 0;
  }
  /* .productDetails-main-contents-title {
    font-size: 20px;
  } */
  .product-quantity-btns-div {
    padding: 10px 15px;
  }
  .addToCart-btn {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 450px) {
  .productDetails-main-contents-div {
    min-height: 33vh;
  }
  .productDetails-main-contents-div p {
    font-size: 12px;
  }
  .productDetails-main {
    flex-direction: column;
  }
  .productDetails-main-img-div {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: -80px;
  }
  .productDetails-main-contents-span-div span {
    font-size: 0.8em;
  }
  .productDetails-main-img-div img {
    width: 60%;
  }
  .productDetails-main-contents-title {
    font-size: 20px;
  }
  .product-quantity-btns-div {
    padding: 2px;
  }
  .addToCart-btn {
    font-size: 18px;
    padding: 6px;
  }
  .input-group-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 330px) {
  .productDetails-main-contents-div {
    min-height: 40vh;
  }
  .product-quantity-btns-div {
    padding: 2px;
  }
  .addToCart-btn {
    font-size: 10px;
    padding: 4px;
  }

  .input-group-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 280px) {
  .productDetails-main-contents-div {
    min-height: 45vh;
  }
}
