.productDetailsTopBar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productDetails-customizeBtn {
  color: #fff;
  padding: 10px 15px;
  background: #ff5c00;
  border-radius: 12px;
  font-weight: 500;
  font-size: 22px;
  border: none;
}
